<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Day-03</title>
</head>
<body>
    <h1> Hello 👋👋</h1>
    <div>
        <h4>60 days learning challenge - Day-03</h4>
        <p><b>Today's Learnings</b></p>
        <li>
            Development of web application before SpringBoot
        </li>
        <li>
            Servlets
        </li>
        <li>
            Manual Configuration of Servers
        </li>
        <li>
            Servlet Containers
        </li>
        <li>
            Dispatcher Servlets
        </li>
        <li>
            Manual web.xml configuration for handling client request and generating dynamic response
        </li>
        <li>
            SpringBoot Introduction
        </li>
        <li>
            Features of SpringBoot: Auto Configuration, Starter Projects, Devtools.
        </li>
        <li>
            Maven Build Automation tool
        </li>
        <li>
            Maven Project structure
        </li>


    </div>
</body>
</html>