<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Day-04</title>
</head>
<body>
<h1 th:text=" 'Hello ' + ${name} "></h1>
<div>
    <h4>60 days learning challenge - Day-04</h4>
   <div>
       <p>Demonstration of Mvc architecture</p>

   </div>
    <li>Taking a query parameter from client.</li>
    <li>Using @PathVariable annotation to store the variable passed through client uri in an object(name)</li>
    <li>using Model interface to store the parameter value to send it to the view.</li>
    <li>Using Thymeleaf Template rendering the value stored in the model.</li>



</div>
</body>
</html>